.primary-button{
    /* border-radius: 12px; */
position: relative;
border-image: linear-gradient(#9d00ff, #FF990D) 1;
border-width: 1px;
border-style: solid;
padding: 12px 30px;
background: none;
display: flex;
align-items: center;
}
.primary-button img{

    padding-right: 10px;
}

.primary-button span{
    color: #FF990D !important; 
    font-size: 16px !important;
    font-style: normal !important;
    font-weight: 500 !important;
    line-height: normal !important;
    margin-top: 0px !important;
}
.primary-button:hover{
    background: linear-gradient(to left, #9d00ff, #FF990D) ;
    color: white;
}
.primary-button:hover span{
    color: white !important;
}