.profile-image{
    width: 56px;
    height: 56px;
}
.header-logo{
    width:195px;
    height:40px
}
.header-layout{
    display: flex;
    justify-content: space-between;
    width: 1228px;
}
.header-profile-wrapper{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}